@tailwind preflight;
@tailwind components;
@tailwind utilities;

.headline {
  font-family: "Sailec-Bold", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(1, 100%);
  margin: 0 20px;

  .filter-language {
    padding-top: 16px;
    font-weight: lighter;
    font-size: 1.2em;
  }

  .issue-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
    overflow: auto;
    box-shadow: 0px 2px #bababa;

    &:focus {
      background-color: #cc5970;
    }
  }

  @screen sm {
    grid-template-columns: repeat(2, calc((100% - 20px)/2));
  }

  @screen md {
    grid-template-columns: repeat(3, calc((100% - 40px)/3));
  }
}