/**
  TailwindCSS
*/

@tailwind base;
ul {
  list-style-type: disc;
  padding-left: theme('padding.4');
}

ol {
  list-style-type: decimal;
  padding-left: theme('padding.4');
}
@tailwind components;
@tailwind utilities;

/**
  Fonts
*/

@font-face {
  font-family: 'Space Mono';
  src: url('/assets/fonts/SpaceMono-Bold.woff2') format('woff2'), url('/assets/fonts/SpaceMono-Bold.woff') format('woff');
  @apply font-bold;
}

/**
  Card Grid
*/

.grid {
  @apply flex flex-col;

  a {
    @apply my-2;
  }
}

@screen md {
  .grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: theme('padding.4');

    a {
      min-height: 250px;
    }
  }
}
